@media (min-width:320px){
    .container {
        width: 300px;
    }
}
@media (min-width:481px){
    .container {
        width: 463px;
    }
}
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
@media (min-width:992px){
    .container {
        width: 970px;
    }
}
@media (min-width:1199px){
    .container {
        width: 1160px;
    }
}
.container {
    padding: 0px 15px;
    margin: 0px auto;
}


.layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}

.opacity{
    transition: opacity 0.3s;
}
.opacity:hover{
    opacity: 0.8;
}
h1 , h2 , h3 , h4 {
    font-family: montserrat,sans-serif;
}
sub-title {
    text-align: center;

}
sub-title h2 {
    font-size: 2.5rem;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 100px;
}
sub-title h2::after {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 50px;
    background-color: var(--main-color);
}